.playlist-page {
    .play-playlist {
        font-size: 50px;
        cursor: pointer;
        visibility: hidden;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
    }
    .playlist-desc {
        .playlist-img {
            height: 150px;
            width: 150px;
        }
    }
    table {
        thead {
            tr {
                th {
                    vertical-align: middle;
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
            }
        }
        tbody {
            tr {
                td,
                th {
                    vertical-align: middle;
                    padding: 5px 20px !important;
                }
            }
        }
    }
    .btn-play {
        visibility: hidden;
    }
    .add-to-playlist,
    .btn-play {
        font-size: 20px;
        padding: 2px;
        cursor: pointer;
    }
    .fa-circle-pause {
        color: rgb(231, 13, 13);
    }
}