.playlist-page {
    .playlist-desc {
        .playlist-img {
            height: 150px;
            width: 150px;
        }
    }
    table {
        thead {
            tr {
                th {
                    vertical-align: middle;
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
            }
        }
        tbody {
            tr {
                td,
                th {
                    vertical-align: middle;
                    padding: 5px 20px !important;
                }
            }
        }
    }
    .btn-play {
        visibility: hidden;
    }
    .add-to-playlist,
    .btn-play {
        font-size: 20px;
        padding: 2px;
        cursor: pointer;
    }
}